:root {
    --background-color: #f8f9fa;
    --primary-color: #0073e6;
    --primary-light: #66b2ff;
    --text-color: #333333;
    --button-background: #0073e6;
    --button-text: #ffffff;
    --hover-background: #005bb5;
    --font-family: 'Roboto', sans-serif;
  }
  