/* src/styles/FloatingActionButton.css */
.floating-action-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--button-text);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .floating-action-button:hover {
    background-color: var(--hover-background);
    transform: translateY(-3px);
  }
  
  .floating-action-button.disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  