.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
}

.nav a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}
