.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: 700; /* Make the text bold */
  padding: 10px 15px; /* Add padding for a modern button-like look */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.nav a:hover {
  background-color: var(--primary-color); /* Highlight background on hover */
  color: white; /* Change text color on hover */
  text-decoration: none; /* Ensure no underline on hover */
}

.nav a.active {
  background-color: var(--primary-color); /* Highlight the active page */
  color: white;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .nav a {
    font-size: 1rem;
    padding: 8px 12px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
    border-radius: 8px;
  }

  .logo img {
    height: 40px;
  }
}
