:root {
  --background-color: #ffffff;
  --primary-color: #6a1b9a;
  --primary-light: #a06ece;
  --text-color: #333333;
  --button-background: #6a1b9a;
  --button-text: #ffffff;
  --hover-background: #8e24aa;
  --border-color: #dddddd;
  --font-family: 'Roboto', sans-serif;
}

.jobDescriptionInput {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--primary-color);
  text-align: center;
}

.toggle {
  display: flex;
  margin-bottom: 15px;
}

.toggleButton {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
  border-radius: 4px;
}

.toggleButton.active {
  background-color: var(--button-background);
  color: var(--button-text);
}

.textarea, .input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  margin-bottom: 15px;
  resize: vertical;
  height: 200px;
}

.button {
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--hover-background);
}
